* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$header-h: 100px;
$transition: 0.3s;
$color-white: #fff;
$color-primary: #eb008b;
$color-gay: #a6a6ac;
$dark-bg: rgba(15, 15, 21, 0.6);
$color-blue: #624bff;
$gradient-pink-blue: linear-gradient(
    333deg,
    rgba(62, 123, 250, 0.9) 25.31%,
    rgba(102, 0, 204, 0.8) 50.31%,
    rgba(255, 16, 117, 0.8) 77.4%,
    rgba(255, 29, 219, 0.8) 100%
);
$gradient_pink_blue_bonuses: linear-gradient(
    333deg,
    rgba(62, 123, 250, 0.9) 25.31%,
    rgba(102, 0, 204, 0.8) 50.31%,
    rgba(255, 16, 117, 0.8) 77.4%,
    rgba(255, 29, 219, 0.8) 100%
);
$gradient-primary: linear-gradient(135deg, #ff3b3b 0%, #60c 100%);
$gradient-secondary: linear-gradient(135deg, #73dfe7 0%, #0063f7 100%);
$gradient-hover: linear-gradient(135deg, #7024c4 0%, #60c 32.06%, #8e40dd 100%);

/** Global */

.section_title {
    position: relative;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: $color-white;
    z-index: 1;

    @media screen and (max-width: 1400px) {
        font-size: 50px;
        line-height: 50px;
    }
}

.section_wrap {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.button {
    position: relative;
    padding: 14px 20px;
    border-radius: 8px;
    color: $color-white;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all $transition ease-in-out;
    box-shadow:
        0px 2px 4px 0px rgba(0, 0, 0, 0.32),
        0px 0px 1px 0px rgba(0, 0, 0, 0.04);

    .ception,
    .icon {
        position: relative;
        color: inherit;
        white-space: nowrap;
        z-index: 2;
    }

    &.circular {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 56px;
        min-height: 56px;
        border-radius: 50%;
        padding: 16px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -1px;
        display: block;
        background: unset;
        border-radius: inherit;
        transition: inherit;
        opacity: 0;
        pointer-events: none;
        z-index: 0;
    }

    &.primary {
        background: $gradient-primary;
    }

    &.secondary {
        background: $gradient-secondary;
    }

    &:hover {
        &::before {
            opacity: 1;
            background: $gradient-hover;

            @media screen and (max-width: 520px) {
                background: inherit;
            }
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.icon-clock {
        background-image: url(../img/clock.svg);
    }

    &.icon-profile {
        background-image: url(../img/profile.svg);
    }

    &.icon-arrow-right {
        background-image: url(../img/arrow-right.svg);
    }

    &.icon-plus {
        background-image: url(../img/plus.svg);
    }
}

.blur-circle {
    border-radius: 50%;

    &.blue {
        background: $color-blue;
    }

    &.gradient_pink_blue_bonuses {
        background: $gradient_pink_blue_bonuses;
    }

    &.gradient_pink_blue {
        background: $gradient-pink-blue;
    }
}

.transparent_box {
    background: rgba(196, 196, 196, 0.01);
    box-shadow:
        0px 0.19px 7.5px 0px rgba(227, 222, 255, 0.2) inset,
        0px 0.7px 3.4px 0px rgba(154, 146, 210, 0.3) inset,
        0px 18.3px 18.7px -9px rgba(202, 172, 255, 0.3) inset,
        0px -15px 12.7px -12px rgba(96, 68, 144, 0.3) inset,
        0px 1.4px 2px -0.7px #fff inset,
        0px 7.3px 10.5px -6.7px rgba(255, 255, 255, 0.5) inset;
    backdrop-filter: blur(18px);

    &.radius-90 {
        position: relative;
        border-radius: 90px;
    }

    &.radius-40 {
        border-radius: 40px;
    }
}

.dark_bg {
    background: rgba(15, 15, 21, 0.6);
}

// .marked {
//     position: relative;

//     &::before {
//         content: "";
//         position: absolute;
//         background-image: url(../img/title-marker.svg);
//         background-position: left;
//         background-size: contain;
//         background-repeat: no-repeat;
//     }
// }

.circle {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-image: url(../img/circle.png);
}

.curve_line {
    position: absolute;
}

.txt_shadow {
    text-shadow:
        0px 0px 127px rgba(49, 119, 255, 0.5),
        0px 0px 33px rgba(49, 119, 255, 0.7);
}

.slider-control {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: fit-content;

    &.center {
        margin: 0 auto;
    }

    .slider-button-prev,
    .slider-button-next {
        width: 40px;
        height: 40px;
        min-width: 40px;
        transition: 0.3s;
        cursor: pointer;
        background-color: $color-white;

        &.swiper-button-disabled {
            background-color: #a291a7;
            cursor: default;
        }
    }

    .slider-button-next {
        -webkit-mask-image: url(../img/arrow-next.svg);
        mask-image: url(../img/arrow-next.svg);
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        order: 3;
    }

    .slider-button-prev {
        -webkit-mask-image: url(../img/arrow-prew.svg);
        mask-image: url(../img/arrow-prew.svg);
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        order: 1;
    }

    .swiper-pagination {
        position: unset;
        order: 2;

        .swiper-pagination-bullet {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #fff;
            transition: $transition;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background: #ffffff;
            }
        }
    }
}

.form_container {
    .form_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 20px;
    }
    .form_item {
        position: relative;
        display: flex;
        flex-direction: column;

        .form_item_label {
            color: #dbd7f3;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: 4px;
        }

        .form_control {
            width: 100%;
            background: $color-white;
            border: none;
            border-radius: 20px;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            max-width: 335px;
            color: #000;
            outline: none;
            -webkit-appearance: none;

            &::placeholder {
                color: #666;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }

            &.phone_mask {
                &::placeholder {
                    color: #000;
                }
            }

            &.file_item {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 4px 16px;
                height: 42px;

                .attach_file {
                    min-width: 32px;
                    min-height: 32px;
                    padding: 6px;
                    position: absolute;
                    right: 4px;

                    &.active {
                        .icon-plus {
                            transform: rotate(45deg);
                        }
                    }
                }

                > .file_label {
                    color: #666;
                    padding-right: 40px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        input[type="file"] {
            position: absolute;
            display: none;
            opacity: 0;
        }

        .file_hint {
            color: $color-white;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            margin-top: 4px;
        }
    }

    .form_actions {
        .checkbox_item {
            margin-bottom: 12px;

            .checkbox_label {
                width: fit-content;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .checkbox {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 18px;
                min-height: 18px;
                max-width: 18px;
                max-height: 18px;
                border: 1px solid #b6b3ec;
                border-radius: 6px;
                margin-right: 10px;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 9px;
                    -webkit-mask-image: url(../img/checkmark.svg);
                    mask-image: url(../img/checkmark.svg);
                    mask-repeat: no-repeat;
                    mask-size: cover;
                    mask-position: center;
                    background-color: #b6b3ec;
                    opacity: 0;
                    transition: $transition;
                }
            }

            .checkbox_txt {
                color: $color-white;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
            }

            input {
                display: none;
            }

            .agreement_input:checked ~ .checkbox {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

.transparent_box_big {
    position: relative;
    border-radius: 90px;
}

.logo {
    display: inline-block;

    > img {
        max-width: 200px;

        @media screen and (max-width: 1340px) {
            max-width: 148px;
        }
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.responsive_wrapper {
    @media screen and (max-width: 1450px) {
        padding: 0 50px;
    }

    @media screen and (max-width: 512px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 379px) {
        padding: 0 16px;
    }
}

.responcive_slider {
    @media screen and (max-width: 1450px) {
        padding: 0 50px;
    }

    @media screen and (max-width: 512px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 379px) {
        padding: 0 16px;
    }
}

body {
    font-family: "Gilroy";

    &::-webkit-scrollbar-track {
        background-color: rgba(16, 16, 16, 0.95);
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: $color-primary;
    }
}

/** Global End*/

body {
    background-image: url(../img/main-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    position: relative;
    overflow: hidden;
    padding-top: $header-h;

    .blur-circle {
        position: absolute;

        &.top-left {
            width: 953px;
            height: 953px;
            left: calc(-953px / 2);
            top: calc(-953px / 2);
            transform: rotate(-90deg);
            filter: blur(200px);
            z-index: -1;
        }

        &.top-right {
            width: 953px;
            height: 953px;
            right: calc(-953px / 2);
            top: calc(-953px / 2);
            transform: rotate(-90deg);
            border-radius: 953px;
            filter: blur(200px);
            z-index: -1;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $dark-bg;
    border: 1px solid rgba(15, 15, 21, 0.4);
    backdrop-filter: blur(20px);
    z-index: 4;

    .main_header {
        height: $header-h;
        padding: 0 60px;
        display: flex;
        align-items: center;

        .menu_main {
            display: flex;
            gap: 30px;
            margin-left: 118px;

            &.horizontal {
                flex-direction: row;
            }

            .menu_item {
                position: relative;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                color: $color-gay;
                border-bottom: 2px solid transparent;
                border-radius: 2px;
                transition: $transition;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: -4px;
                    height: 2px;
                    border-radius: 2px;
                    background: $color-primary;
                    transition: $transition;
                    opacity: 0;
                }

                &:hover {
                    color: $color-primary;

                    &::before {
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 1440px) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            @media screen and (max-width: 1440px) {
                margin: 0 40px;
            }

            @media screen and (max-width: 1282px) {
                display: none;
            }
        }

        .button {
            margin-left: auto;
        }
    }
}

section {
    position: relative;

    .transparent_cards_wrap {
        position: relative;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 1;

        .transparent_cards_item {
            display: flex;
            gap: 16px;
            align-items: center;
            width: 100%;
            min-width: 400px;
            max-width: 453px;
            padding: 40px 20px 40px 32px;

            .image_holder {
                min-width: 120px;
                max-width: 120px;
                height: 120px;
                overflow: hidden;

                > img {
                    display: block;
                    margin: 0 auto;
                    object-fit: contain;
                }
            }

            .description {
                color: $color-white;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
            }

            @media screen and (max-width: 1450px) {
                max-width: calc(50% - 20px);
            }
        }
    }
}

.main_screen {
    padding: 134px 0;

    @media screen and (max-width: 1600px) {
        padding: 80px 0;
    }

    .main_screen_box {
        padding: 120px 50px 150px 118px;
        z-index: 2;

        .section_title {
            max-width: 967px;
            font-size: 100px;
            line-height: 92px;
            z-index: 3;

            @media screen and (max-width: 1600px) {
                max-width: 950px;
                font-size: 85px;
                line-height: 78px;
            }

            // &.marked {
            //     padding-left: calc(127px / 2 - 25px);

            //     &::before {
            //         width: 100%;
            //         height: calc(100% + 27px);
            //         left: calc(127px / 2 - 25px);
            //     }
            // }
        }

        .subtitle {
            position: relative;
            margin: 40px 0;
            color: #d9d8de;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            z-index: 3;
        }

        .button {
            position: relative;
            min-width: 222px;
            z-index: 3;
        }

        .circle {
            width: 150px;
            height: 150px;
            bottom: calc(-150px / 2);
        }

        @media screen and (max-width: 1600px) {
            padding: 80px 50px;
        }
    }

    .ms-left-line {
        bottom: calc(741px / 4);
        left: -150px;
        width: 100%;
        max-width: 741px;
        z-index: -1;

        @media screen and (max-width: 1440px) {
            width: 600px;
        }
    }

    .ms-middle-line {
        max-width: 692px;
        top: -280px;
        right: 130px;
        z-index: 2;

        @media screen and (max-width: 1626px) {
            right: 0;
        }

        @media screen and (max-width: 1440px) {
            display: none;
        }
    }

    .ms-right-line {
        right: -190px;
        top: 50px;
        z-index: 1;

        @media screen and (max-width: 1440px) {
            width: 700px;
        }
    }
}

.about {
    padding: 60px;

    .flex_wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 2;

        .description_box {
            .title {
                position: relative;
            }

            .description {
                max-width: 808px;
                margin-top: 48px;

                .description_row {
                    color: #ffffffcc;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .avatar_box {
            position: relative;
            padding: 89px 150px;
            border-radius: 150px;
            background: rgba(196, 196, 196, 0.01);
            box-shadow:
                0px 1.2px 50px 0px rgba(227, 222, 255, 0.2) inset,
                0px 5px 22.6px 0px rgba(154, 146, 210, 0.3) inset,
                0px 123px 125px -60px rgba(202, 172, 255, 0.3) inset,
                0px -102px 85px -80px rgba(96, 68, 144, 0.3) inset,
                0px 9px 13px -5px #fff inset,
                0px 49px 70px -45px rgba(255, 255, 255, 0.5) inset;
            backdrop-filter: blur(56px);
            z-index: 2;

            .avarat_img {
                max-width: 272px;
                width: 100%;
            }

            .circle {
                width: 150px;
                height: 150px;
                right: calc(-150px / 2);
                bottom: 158px;
            }
        }
    }

    .blur-circle {
        width: 800px;
        height: 800px;
        transform: rotate(-90deg);
        filter: blur(200px);
        left: calc(-800px / 2);
        top: 0;
    }

    @media screen and (max-width: 1440px) {
        padding: 60px 0;
    }
}

.advantages {
    padding: 160px 0;

    .advantages_curve_line_left {
        top: -185px;
        left: -150px;

        @media screen and (max-width: 1450px) {
            top: -15px;
        }
    }

    .advantages_curve_line_right {
        top: 251px;
        right: -250px;
    }

    .circle {
        top: 50%;
        width: 150px;
        height: 150px;
        transform: translateY(-50%);
        left: calc(-150px / 2);
    }

    .blur-circle {
        width: 953px;
        height: 953px;
        transform: rotate(-90deg);
        filter: blur(300px);
        right: calc(-853px / 4);
        top: 50%;
        transform: translateY(-10%);
    }
}

.partners {
    padding-bottom: 160px;

    .flex_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slider-control {
            top: unset;
        }
    }

    .slider_wrap {
        margin-top: 60px;
    }

    .blur-circle {
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 810px;
        height: 810px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        filter: blur(200px);
        z-index: -1;
    }
}

.valuables {
    padding-bottom: 160px;

    .valuables_wrap {
        position: relative;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        z-index: 1;

        .card_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 40px;
            min-height: 355px;
            max-height: 355px;
            background: rgba(196, 196, 196, 0.01);
            box-shadow:
                0px 1px 40px 0px rgba(227, 222, 255, 0.2) inset,
                0px 4px 18px 0px rgba(154, 146, 210, 0.3) inset,
                0px 98px 100px -48px rgba(202, 172, 255, 0.3) inset,
                0px -82px 68px -64px rgba(96, 68, 144, 0.3) inset,
                0px 7px 11px -4px #fff inset,
                0px 39px 56px -36px rgba(255, 255, 255, 0.5) inset;
            backdrop-filter: blur(50px);
            max-width: 264px;
            min-width: 264px;
            padding: 31px 23px 32px 23px;

            .image_holder {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px;
                border-radius: 24px;
                border: 1px solid rgba(15, 15, 21, 0.4);
                background: rgba(15, 15, 21, 0.2);
                backdrop-filter: blur(20px);

                > img {
                    max-width: 120px;
                    object-fit: contain;
                }

                @media screen and (max-width: 647px) {
                    padding: 23px;

                    > img {
                        max-width: 72px;
                    }
                }
            }

            .caption {
                display: flex;
                align-items: center;
                min-height: 72px;

                span {
                    color: $color-white;
                    text-align: center;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media screen and (max-width: 647px) {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            @media screen and (max-width: 1450px) {
                width: calc(50% - 20px);
                max-width: calc(25% - 20px);
            }

            @media screen and (max-width: 1225px) {
                width: calc(33.3% - 20px);
                max-width: calc(33.3% - 20px);
            }

            @media screen and (max-width: 931px) {
                width: calc(50% - 20px);
                max-width: calc(50% - 20px);
            }

            @media screen and (max-width: 647px) {
                padding: 20px;
                max-height: 216px;
                min-height: 216px;
                min-width: 160px;
                border-radius: 24px;
            }
        }

        @media screen and (max-width: 931px) {
            gap: 8px;
        }
    }

    .blur-circle {
        top: 0;
        right: (-853px / 4);
        width: 853px;
        height: 853px;
        transform: rotate(90deg);
        flex-shrink: 0;
        filter: blur(300px);
        z-index: -1;
    }
}

.why_choose_us {
    padding: 120px 0;

    .blur-circle {
        top: 0;
        left: calc(-1016px / 4);
        width: 1016px;
        height: 100%;
        transform: rotate(-90deg);
        flex-shrink: 0;
        filter: blur(200px);
    }

    .curve_line_left {
        max-width: 1000px;
        left: calc(-800px / 2);
        top: -300px;
    }

    .curve_line_right {
        width: 800px;
        right: -150px;
        top: 150px;
    }
}

.vacancy {
    padding: 160px 0;
}

.contact_us {
    padding-bottom: 160px;

    .transparent_box {
        padding: 110px 50px 110px 118px;
        position: unset;

        .form_container {
            position: relative;
            margin-top: 40px;
            max-width: 690px;
            z-index: 3;

            .form_actions {
                margin-top: 45px;
            }
        }

        .curve_line {
            right: -34%;
            top: -200px;

            @media screen and (max-width: 1400px) {
                top: 0;
                right: -40%;
                width: 900px;
            }

            @media screen and (max-width: 1090px) {
                top: 40%;
                right: -50%;
            }
        }

        @media screen and (max-width: 1600px) {
            padding: 80px 50px;
        }
    }

    .circle {
        &.top-left {
            width: 280px;
            height: 280px;
            left: calc(-280px / 2);
            top: calc(-280px / 2);
            z-index: -1;
        }
    }

    .section-bg {
        position: absolute;
        left: 0px;
        right: 0px;
        top: -160px;
        bottom: 0px;
        background: linear-gradient(
            233deg,
            rgba(62, 123, 250, 0.9) 25.31%,
            rgba(102, 0, 204, 0.8) 50.31%,
            rgba(255, 16, 117, 0.8) 77.4%,
            rgba(255, 29, 219, 0.8) 100%
        );
        border-radius: 40%;
        filter: blur(200px);
        transform: rotate(180deg);
        z-index: -1;
    }
}

.footer {
    position: relative;
    padding: 80px 0;
    backdrop-filter: blur(20px);
    z-index: 1;

    .footer_info {
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;

        .footer_info_item {
            min-width: 172px;
            padding-top: 32px;

            .item_name {
                color: #fff;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 12px;
            }

            .item_info {
                color: #d2d3d7;
                font-family: Gilroy;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }

    .circle {
        width: 130px;
        height: 130px;
        top: -45px;
        left: 40px;
    }
}

/** Sliders */

.partners-slider {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
        max-height: 260px;

        .swiper-slide {
            position: relative;
            min-width: 216px;
            max-width: 216px;
            height: calc((100% - 20px) / 2) !important;

            .item_provider_game {
                display: flex;
                align-items: center;
                width: 216px;
                height: 120px;
                border-radius: 24px;
                border: 1px solid rgba(15, 15, 21, 0.4);
                background: rgba(15, 15, 21, 0.6);
                backdrop-filter: blur(20px);
                padding: 25px 38px;

                .provider_image {
                    max-width: 140px;
                }
            }
        }
    }
}

.vacancy-slider {
    padding: 60px 0;

    .swiper-slide {
        max-width: 456px;

        .vacancy_card {
            padding: 24px;
            border-radius: 24px;
            border: 1px solid rgba(15, 15, 21, 0.4);
            background: rgba(15, 15, 21, 0.6);
            backdrop-filter: blur(20px);

            .card_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                min-height: 79px;

                .vacancy_name {
                    color: $color-white;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px;
                    margin-right: 20px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .icon-hot {
                    width: 58px;
                }
            }

            .dscription {
                margin-top: 20px;
                color: #d2d2d4;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .card_footer {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                .info {
                    display: flex;
                    gap: 12px;

                    .info_item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #747477;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;

                        .icon {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1450px) {
        padding: 60px 50px;
    }

    @media screen and (max-width: 512px) {
        padding: 60px 20px;
    }

    @media screen and (max-width: 379px) {
        padding: 60px 16px;
    }
}
