* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Global */
.section_title {
  position: relative;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  z-index: 1;
}
.section_title.mobile_title {
  display: none;
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .section_title.mobile_title {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  .section_title.pc_title {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .section_title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media screen and (max-width: 920px) {
  .section_title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 520px) {
  .section_title {
    font-size: 20px;
    line-height: 28px;
  }
}

.section_wrap {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 14px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.button .caption,
.button .icon {
  position: relative;
  color: inherit;
  white-space: nowrap;
  z-index: 2;
}
.button.circular {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  min-height: 56px;
  max-height: 56px;
  border-radius: 50%;
  padding: 16px;
}
@media screen and (max-width: 520px) {
  .button.circular {
    min-width: 48px;
    min-height: 48px;
    max-height: 48px;
    padding: 12px;
  }
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -1px;
  display: block;
  background: transparent;
  border-radius: inherit;
  transition: inherit;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}
.button.primary {
  background: linear-gradient(135deg, #ff3b3b 0%, #60c 100%);
}
.button.secondary {
  background: linear-gradient(135deg, #73dfe7 0%, #0063f7 100%);
}
.button.button_blue {
  background: linear-gradient(135deg, #3e7bfa 0%, #60c 100%);
}
.button:hover::before {
  opacity: 1;
  background: linear-gradient(135deg, #7024c4 0%, #60c 32.06%, #8e40dd 100%);
}
@media screen and (max-width: 520px) {
  .button:hover::before {
    background: inherit;
  }
}

.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon.icon-clock {
  background-image: url(../img/clock.svg);
}
.icon.icon-profile {
  background-image: url(../img/profile.svg);
}
.icon.icon-arrow-right {
  background-image: url(../img/arrow-right.svg);
}
.icon.icon-arrow-left {
  background-image: url(../img/arrow-left.svg);
}
.icon.icon-plus {
  background-image: url(../img/plus.svg);
}
.icon.icon-phone {
  background-image: url(../img/phone.svg);
}
.icon.icon-menu {
  background-image: url(../img/menu.svg);
}
.icon.icon-close {
  background-image: url(../img/close.svg);
}
.icon.icon-caution {
  background-image: url(../img/caution.svg);
}

.blur-circle {
  border-radius: 50%;
}
.blur-circle.blue {
  background: #624bff;
}
.blur-circle.gradient_pink_blue_bonuses {
  background: linear-gradient(333deg, rgba(62, 123, 250, 0.9) 25.31%, rgba(102, 0, 204, 0.8) 50.31%, rgba(255, 16, 117, 0.8) 77.4%, rgba(255, 29, 219, 0.8) 100%);
}
.blur-circle.gradient_pink_blue {
  background: linear-gradient(333deg, rgba(62, 123, 250, 0.9) 25.31%, rgba(102, 0, 204, 0.8) 50.31%, rgba(255, 16, 117, 0.8) 77.4%, rgba(255, 29, 219, 0.8) 100%);
}
@media screen and (max-width: 920px) {
  .blur-circle {
    display: none;
  }
}

.transparent_box {
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 0.19px 7.5px 0px rgba(227, 222, 255, 0.2) inset, 0px 0.7px 3.4px 0px rgba(154, 146, 210, 0.3) inset, 0px 18.3px 18.7px -9px rgba(202, 172, 255, 0.3) inset, 0px -15px 12.7px -12px rgba(96, 68, 144, 0.3) inset, 0px 1.4px 2px -0.7px #fff inset, 0px 7.3px 10.5px -6.7px rgba(255, 255, 255, 0.5) inset;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
}
.transparent_box.radius-90 {
  position: relative;
  border-radius: 90px;
}
.transparent_box.radius-40 {
  border-radius: 40px;
}
@media screen and (max-width: 920px) {
  .transparent_box {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}

.dark_bg {
  background: rgba(15, 15, 21, 0.6);
}

.circle {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url(../img/circle.png);
}

.curve_line {
  position: absolute;
}

.txt_shadow {
  text-shadow: 0px 0px 127px rgba(49, 119, 255, 0.5), 0px 0px 33px rgba(49, 119, 255, 0.7);
}

.slider-control {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.slider-control.center {
  margin: 0 auto;
}
.slider-control .slider-button-prev,
.slider-control .slider-button-next {
  width: 40px;
  height: 40px;
  min-width: 40px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #fff;
}
.slider-control .slider-button-prev.swiper-button-disabled,
.slider-control .slider-button-next.swiper-button-disabled {
  background-color: #a291a7;
  cursor: default;
}
.slider-control .slider-button-next {
  -webkit-mask-image: url(../img/arrow-next.svg);
  mask-image: url(../img/arrow-next.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  order: 3;
}
.slider-control .slider-button-prev {
  -webkit-mask-image: url(../img/arrow-prew.svg);
  mask-image: url(../img/arrow-prew.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  order: 1;
}
.slider-control .swiper-pagination {
  position: unset;
  order: 2;
}
.slider-control .swiper-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  transition: 0.3s;
  opacity: 1;
}
.slider-control .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffffff;
}
@media screen and (max-width: 920px) {
  .slider-control {
    display: none;
  }
}

.form_container .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 20px;
}
@media screen and (max-width: 650px) {
  .form_container .form_grid {
    grid-template-columns: 1fr;
  }
}
.form_container .flex_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form_container .form_actions .checkbox_item {
  margin-bottom: 12px;
}
.form_container .form_actions .checkbox_item .checkbox_label {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form_container .form_actions .checkbox_item .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18px;
  min-height: 18px;
  max-width: 18px;
  max-height: 18px;
  border: 1px solid #b6b3ec;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.form_container .form_actions .checkbox_item .checkbox::before {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  -webkit-mask-image: url(../img/checkmark.svg);
  mask-image: url(../img/checkmark.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #b6b3ec;
  opacity: 0;
  transition: 0.3s;
}
.form_container .form_actions .checkbox_item .checkbox_txt {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.form_container .form_actions .checkbox_item input {
  display: none;
}
.form_container .form_actions .checkbox_item .agreement_input:checked ~ .checkbox:before {
  opacity: 1;
}
.form_container .form_item .form_item_label {
  color: #dbd7f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.form_container .form_item .input_wrap {
  position: relative;
}
.form_container .form_item .input_wrap .icon-caution {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  width: 18px;
  height: 18px;
}
.form_container .form_item .form_control {
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 12px 45px 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  max-width: 335px;
  color: #000;
  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;
}
.form_container .form_item .form_control::-moz-placeholder {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.form_container .form_item .form_control::placeholder {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.form_container .form_item .form_control.phone_mask::-moz-placeholder {
  color: #000;
}
.form_container .form_item .form_control.phone_mask::placeholder {
  color: #000;
}
.form_container .form_item .form_control.file_item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 16px;
  height: 42px;
}
.form_container .form_item .form_control.file_item .attach_file {
  min-width: 32px;
  min-height: 32px;
  padding: 6px;
  position: absolute;
  right: 4px;
}
.form_container .form_item .form_control.file_item .attach_file.active .icon-plus {
  transform: rotate(45deg);
}
.form_container .form_item .form_control.file_item > .file_label {
  color: #666;
  padding-right: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 650px) {
  .form_container .form_item .form_control {
    max-width: 100%;
  }
}
.form_container .form_item input[type=file] {
  position: absolute;
  display: none;
  opacity: 0;
}
.form_container .form_item .file_hint {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}
.form_container .form_item.error .form_control {
  border-color: #eb008b;
}
.form_container .form_item.error .icon-caution {
  display: block;
}
.form_container .form_item.error .checkbox {
  border-color: #eb008b;
}

.transparent_box_big {
  position: relative;
  border-radius: 90px;
}

.logo {
  display: inline-block;
}
.logo > img {
  max-width: 200px;
}
@media screen and (max-width: 1340px) {
  .logo > img {
    max-width: 148px;
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (max-width: 1450px) {
  .responsive_wrapper {
    padding: 0 50px;
  }
}
@media screen and (max-width: 850px) {
  .responsive_wrapper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 379px) {
  .responsive_wrapper {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1450px) {
  .responcive_slider {
    padding: 0 50px;
  }
}
@media screen and (max-width: 850px) {
  .responcive_slider {
    padding: 0 20px;
  }
}
@media screen and (max-width: 379px) {
  .responcive_slider {
    padding: 0 16px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(15, 15, 21, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 11;
}

.popup {
  position: fixed;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 11;
}
.popup .popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  padding: 0 1px;
}
.popup .popup_header .button_close {
  pointer-events: none;
}
@media screen and (max-width: 520px) {
  .popup .popup_header .button_close {
    min-width: 40px;
    min-height: 40px;
    padding: 8px;
  }
}
.popup .menu_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: calc(100% - 100px);
  padding: 60px 0 20px;
  gap: 24px;
}
.popup .menu_list .menu_item_popup {
  color: #a9a7b7;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}
@media screen and (orientation: landscape) {
  .popup .menu_list {
    padding: 180px 0 20px;
  }
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .button_close {
  pointer-events: all;
}

body {
  font-family: "Gilroy";
}
body.popup_open {
  overflow: hidden;
}
body.popup_open .overlay {
  opacity: 1;
  visibility: visible;
}
body::-webkit-scrollbar-track {
  background-color: rgba(16, 16, 16, 0.95);
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #eb008b;
}

/** Global End*/
body {
  background-image: url(../img/main-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

main {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}
main .blur-circle {
  position: absolute;
  z-index: -1;
}
main .blur-circle.top-left {
  width: 953px;
  height: 953px;
  left: -476.5px;
  top: -476.5px;
  transform: rotate(-90deg);
  filter: blur(200px);
}
main .blur-circle.top-right {
  width: 953px;
  height: 953px;
  right: -476.5px;
  top: -476.5px;
  transform: rotate(-90deg);
  border-radius: 953px;
  filter: blur(200px);
}
@media screen and (max-width: 620px) {
  main .blur-circle.top-right {
    width: 253px;
    height: 253px;
    right: -126.5px;
    top: 100px;
    border-radius: 50%;
    filter: blur(50px);
  }
}
@media screen and (max-width: 920px) {
  main .blur-circle {
    display: none;
  }
}
main .vacancy_page_line_mob {
  display: none;
}
@media screen and (max-width: 520px) {
  main .vacancy_page_line_mob {
    display: block;
    width: 350px;
    top: 40px;
    right: -50px;
  }
}
@media screen and (max-width: 480px) {
  main .vacancy_page_line_mob {
    width: 300px;
  }
}
main .vacancy_page_line {
  max-width: 700px;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1100px) {
  main .vacancy_page_line {
    max-width: 400px;
  }
}
@media screen and (max-width: 520px) {
  main .vacancy_page_line {
    display: none;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(15, 15, 21, 0.6);
  border: 1px solid rgba(15, 15, 21, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 4;
}
header .main_header {
  height: 100px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main_header .menu_main {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
header .main_header .menu_main.horizontal {
  flex-direction: row;
}
header .main_header .menu_main .menu_item {
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #a6a6ac;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}
header .main_header .menu_main .menu_item::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -4px;
  height: 2px;
  border-radius: 2px;
  background: #eb008b;
  transition: 0.3s;
  opacity: 0;
}
header .main_header .menu_main .menu_item:hover {
  color: #eb008b;
}
header .main_header .menu_main .menu_item:hover::before {
  opacity: 1;
}
@media screen and (max-width: 1440px) {
  header .main_header .menu_main .menu_item {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1440px) {
  header .main_header .menu_main {
    margin: 0 40px;
  }
}
@media screen and (max-width: 1287px) {
  header .main_header .menu_main {
    display: none;
  }
}
@media screen and (max-width: 1287px) {
  header .main_header .contact_btn {
    display: none;
  }
}
header .main_header .buttons_wrap {
  margin-left: auto;
  display: none;
  gap: 12px;
}
@media screen and (max-width: 1287px) {
  header .main_header .buttons_wrap {
    display: flex;
  }
}
@media screen and (max-width: 520px) {
  header .main_header .buttons_wrap .button {
    min-width: 40px;
    min-height: 40px;
    padding: 8px;
  }
}
@media screen and (max-width: 1450px) {
  header .main_header {
    padding: 0 50px;
  }
}
@media screen and (max-width: 850px) {
  header .main_header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 379px) {
  header .main_header {
    padding: 0 16px;
  }
}

section {
  position: relative;
}
section .transparent_cards_wrap {
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
}
section .transparent_cards_wrap .transparent_cards_item {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  min-width: 400px;
  max-width: 453px;
  padding: 40px 20px 40px 32px;
}
section .transparent_cards_wrap .transparent_cards_item .image_holder {
  min-width: 120px;
  max-width: 120px;
  height: 120px;
  overflow: hidden;
}
section .transparent_cards_wrap .transparent_cards_item .image_holder > img {
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
@media screen and (max-width: 920px) {
  section .transparent_cards_wrap .transparent_cards_item .image_holder {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 520px) {
  section .transparent_cards_wrap .transparent_cards_item .image_holder {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
  }
}
section .transparent_cards_wrap .transparent_cards_item .description {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
@media screen and (max-width: 920px) {
  section .transparent_cards_wrap .transparent_cards_item .description {
    font-size: 25px;
    line-height: 28px;
  }
}
@media screen and (max-width: 775px) {
  section .transparent_cards_wrap .transparent_cards_item .description {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 450px) {
  section .transparent_cards_wrap .transparent_cards_item .description {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 1450px) {
  section .transparent_cards_wrap .transparent_cards_item {
    max-width: calc(50% - 10px);
  }
}
@media screen and (max-width: 920px) {
  section .transparent_cards_wrap .transparent_cards_item {
    min-width: 160px;
    max-height: 140px;
  }
}
@media screen and (max-width: 775px) {
  section .transparent_cards_wrap .transparent_cards_item {
    padding: 30px 20px;
    border-radius: 30px;
    max-width: calc(50% - 10px);
    min-height: 123px;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  section .transparent_cards_wrap .transparent_cards_item {
    max-width: calc(50% - 4px);
    padding: 10px 15px 6px;
    min-height: 70px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1450px) {
  section .transparent_cards_wrap {
    margin-top: 32px;
  }
}
@media screen and (max-width: 520px) {
  section .transparent_cards_wrap {
    gap: 8px;
  }
}

.main_screen {
  padding: 134px 0;
}
@media screen and (max-width: 1600px) {
  .main_screen {
    padding: 80px 0;
  }
}
.main_screen .main_screen_box {
  padding: 120px 50px 150px 118px;
  z-index: 2;
}
.main_screen .main_screen_box .section_title {
  max-width: 967px;
  font-size: 100px;
  line-height: 92px;
  z-index: 3;
}
@media screen and (max-width: 1600px) {
  .main_screen .main_screen_box .section_title {
    max-width: 950px;
    font-size: 85px;
    line-height: 78px;
  }
}
@media screen and (max-width: 920px) {
  .main_screen .main_screen_box .section_title {
    font-size: 65px;
    line-height: 58px;
  }
}
@media screen and (max-width: 620px) {
  .main_screen .main_screen_box .section_title {
    font-size: 40px;
    line-height: 45px;
    max-width: 450px;
  }
}
@media screen and (max-width: 520px) {
  .main_screen .main_screen_box .section_title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (max-width: 370px) {
  .main_screen .main_screen_box .section_title {
    max-width: 250px;
  }
}
.main_screen .main_screen_box .subtitle {
  position: relative;
  margin: 40px 0;
  color: #d9d8de;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  z-index: 3;
}
@media screen and (max-width: 920px) {
  .main_screen .main_screen_box .subtitle {
    font-size: 22px;
    line-height: 26px;
  }
}
@media screen and (max-width: 620px) {
  .main_screen .main_screen_box .subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 32px 0 16px 0;
  }
}
.main_screen .main_screen_box .button {
  position: relative;
  min-width: 222px;
  z-index: 3;
}
@media screen and (max-width: 620px) {
  .main_screen .main_screen_box .button {
    min-width: 200px;
  }
}
.main_screen .main_screen_box .circle {
  width: 150px;
  height: 150px;
  bottom: -75px;
}
@media screen and (max-width: 920px) {
  .main_screen .main_screen_box .circle {
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: 100px;
  }
}
@media screen and (max-width: 520px) {
  .main_screen .main_screen_box .circle {
    width: 60px;
    height: 60px;
    bottom: -30px;
    right: 32px;
  }
}
@media screen and (max-width: 1600px) {
  .main_screen .main_screen_box {
    padding: 80px 50px;
  }
}
@media screen and (max-width: 620px) {
  .main_screen .main_screen_box {
    padding: 32px 24px;
    border-radius: 50px;
  }
}
.main_screen .ms-left-line {
  bottom: 185.25px;
  left: -150px;
  width: 100%;
  max-width: 741px;
  z-index: -1;
}
@media screen and (max-width: 1440px) {
  .main_screen .ms-left-line {
    width: 600px;
  }
}
@media screen and (max-width: 620px) {
  .main_screen .ms-left-line {
    width: 350px;
    bottom: 40px;
    left: -100px;
  }
}
@media screen and (max-width: 520px) {
  .main_screen .ms-left-line {
    width: 300px;
    bottom: 120px;
    left: -100px;
  }
}
@media screen and (max-width: 480px) {
  .main_screen .ms-left-line {
    width: 250px;
    bottom: 195px;
  }
}
.main_screen .ms-middle-line {
  max-width: 692px;
  top: -280px;
  right: 130px;
  z-index: 2;
}
@media screen and (max-width: 1626px) {
  .main_screen .ms-middle-line {
    right: 0;
  }
}
@media screen and (max-width: 1440px) {
  .main_screen .ms-middle-line {
    display: none;
  }
}
.main_screen .ms-right-line {
  right: -190px;
  top: 50px;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .main_screen .ms-right-line {
    width: 700px;
  }
}
@media screen and (max-width: 620px) {
  .main_screen .ms-right-line {
    width: 350px;
    top: -20px;
    right: -50px;
  }
}
@media screen and (max-width: 480px) {
  .main_screen .ms-right-line {
    width: 300px;
    top: 26px;
    right: -95px;
  }
}

.about {
  padding: 60px;
}
.about .grid_wrap {
  display: grid;
  grid-template-areas: "title avatar" "description avatar";
  gap: 48px 20px;
  position: relative;
  z-index: 2;
  grid-template-columns: 1fr auto;
  grid-template-rows: max-content max-content;
}
.about .grid_wrap .section_title {
  grid-area: title;
  align-self: end;
}
.about .grid_wrap .description {
  grid-area: description;
  max-width: 808px;
  align-self: start;
}
.about .grid_wrap .description > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px;
}
.about .grid_wrap .description > p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 520px) {
  .about .grid_wrap .description > p {
    font-size: 16px;
    line-height: 20px;
  }
}
.about .grid_wrap .avatar_box {
  grid-area: avatar;
  position: relative;
  padding: 89px 150px;
  border-radius: 150px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 1.2px 50px 0px rgba(227, 222, 255, 0.2) inset, 0px 5px 22.6px 0px rgba(154, 146, 210, 0.3) inset, 0px 123px 125px -60px rgba(202, 172, 255, 0.3) inset, 0px -102px 85px -80px rgba(96, 68, 144, 0.3) inset, 0px 9px 13px -5px #fff inset, 0px 49px 70px -45px rgba(255, 255, 255, 0.5) inset;
  -webkit-backdrop-filter: blur(56px);
          backdrop-filter: blur(56px);
  max-width: -moz-fit-content;
  max-width: fit-content;
  z-index: 2;
}
.about .grid_wrap .avatar_box .avarat_img {
  max-width: 272px;
  width: 100%;
}
@media screen and (max-width: 1550px) {
  .about .grid_wrap .avatar_box .avarat_img {
    max-width: 200px;
  }
}
@media screen and (max-width: 920px) {
  .about .grid_wrap .avatar_box .avarat_img {
    max-width: 172px;
  }
}
.about .grid_wrap .avatar_box .circle {
  width: 150px;
  height: 150px;
  right: -75px;
  bottom: 158px;
}
@media screen and (max-width: 920px) {
  .about .grid_wrap .avatar_box .circle {
    width: 100px;
    height: 100px;
    right: -50px;
  }
}
@media screen and (max-width: 520px) {
  .about .grid_wrap .avatar_box .circle {
    width: 70px;
    height: 70px;
    right: -35px;
    bottom: 50px;
  }
}
@media screen and (max-width: 420px) {
  .about .grid_wrap .avatar_box .circle {
    width: 54px;
    height: 54px;
    right: -27px;
    bottom: 50px;
  }
}
@media screen and (max-width: 920px) {
  .about .grid_wrap .avatar_box {
    border-radius: 100px;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}
@media screen and (max-width: 520px) {
  .about .grid_wrap .avatar_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 52px;
    max-width: 60%;
    min-width: 200px;
    width: 60%;
    border-radius: 54px;
  }
}
@media screen and (max-width: 1400px) {
  .about .grid_wrap {
    gap: 20px;
  }
}
@media screen and (max-width: 1130px) {
  .about .grid_wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about .grid_wrap .section_title {
    align-self: flex-start;
  }
  .about .grid_wrap .avatar_box {
    align-self: center;
  }
}
.about .blur-circle {
  width: 800px;
  height: 800px;
  transform: rotate(-90deg);
  filter: blur(200px);
  left: -400px;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 920px) {
  .about .blur-circle {
    width: 500px;
    height: 500px;
    left: -250px;
  }
}
@media screen and (max-width: 1440px) {
  .about {
    padding: 60px 0;
  }
}

.advantages {
  padding: 160px 0;
}
.advantages .advantages_curve_line_left {
  top: -185px;
  left: -150px;
}
@media screen and (max-width: 1550px) {
  .advantages .advantages_curve_line_left {
    top: -70px;
  }
}
@media screen and (max-width: 1450px) {
  .advantages .advantages_curve_line_left {
    width: 335px;
  }
}
.advantages .advantages_curve_line_right {
  top: 251px;
  right: -250px;
}
@media screen and (max-width: 520px) {
  .advantages .advantages_curve_line_right {
    width: 450px;
    top: 600px;
  }
}
.advantages .circle {
  top: 50%;
  width: 150px;
  height: 150px;
  transform: translateY(-50%);
  left: -75px;
}
@media screen and (max-width: 920px) {
  .advantages .circle {
    display: none;
  }
}
.advantages .blur-circle {
  width: 953px;
  height: 953px;
  transform: rotate(-90deg);
  filter: blur(300px);
  right: -213.25px;
  top: 50%;
  transform: translateY(-10%);
}
@media screen and (max-width: 920px) {
  .advantages {
    padding: 98px 0;
  }
}

.partners {
  padding-bottom: 160px;
}
.partners .flex_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners .flex_wrap .slider-control {
  top: unset;
}
.partners .slider_wrap {
  margin-top: 60px;
}
.partners .blur-circle {
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 810px;
  height: 810px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  filter: blur(200px);
  z-index: -1;
}
@media screen and (max-width: 520px) {
  .partners {
    padding-bottom: 20px;
  }
}

.valuables {
  padding-bottom: 160px;
}
.valuables .valuables_wrap {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  z-index: 1;
}
.valuables .valuables_wrap .card_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  min-height: 355px;
  max-height: 355px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 1px 40px 0px rgba(227, 222, 255, 0.2) inset, 0px 4px 18px 0px rgba(154, 146, 210, 0.3) inset, 0px 98px 100px -48px rgba(202, 172, 255, 0.3) inset, 0px -82px 68px -64px rgba(96, 68, 144, 0.3) inset, 0px 7px 11px -4px #fff inset, 0px 39px 56px -36px rgba(255, 255, 255, 0.5) inset;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  max-width: 264px;
  min-width: 264px;
  padding: 31px 23px 32px 23px;
  transition: 0.3s;
}
.valuables .valuables_wrap .card_item:hover {
  background: rgba(102, 0, 204, 0.8);
}
.valuables .valuables_wrap .card_item .image_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgba(15, 15, 21, 0.4);
  background: rgba(15, 15, 21, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.valuables .valuables_wrap .card_item .image_holder > img {
  max-width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 920px) {
  .valuables .valuables_wrap .card_item .image_holder {
    padding: 23px;
  }
  .valuables .valuables_wrap .card_item .image_holder > img {
    max-width: 72px;
  }
}
.valuables .valuables_wrap .card_item .caption {
  display: flex;
  align-items: center;
  min-height: 72px;
}
.valuables .valuables_wrap .card_item .caption span {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 920px) {
  .valuables .valuables_wrap .card_item .caption span {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1450px) {
  .valuables .valuables_wrap .card_item {
    width: calc(50% - 20px);
    max-width: calc(25% - 20px);
  }
}
@media screen and (max-width: 1225px) {
  .valuables .valuables_wrap .card_item {
    width: calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
  }
}
@media screen and (max-width: 920px) {
  .valuables .valuables_wrap .card_item {
    padding: 20px;
    max-height: 216px;
    min-height: 216px;
    min-width: 160px;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    background: rgba(15, 15, 21, 0.3);
  }
}
@media screen and (max-width: 371px) {
  .valuables .valuables_wrap {
    gap: 8px;
  }
}
.valuables .blur-circle {
  top: 0;
  right: -213.25px;
  width: 853px;
  height: 853px;
  transform: rotate(90deg);
  flex-shrink: 0;
  filter: blur(300px);
  z-index: -1;
}
@media screen and (max-width: 520px) {
  .valuables {
    padding-bottom: 60px;
  }
}

.why_choose_us {
  padding: 120px 0;
}
.why_choose_us .blur-circle {
  top: 0;
  left: -254px;
  width: 1016px;
  height: 100%;
  transform: rotate(-90deg);
  flex-shrink: 0;
  filter: blur(200px);
}
.why_choose_us .curve_line_left {
  max-width: 1000px;
  left: -400px;
  top: -300px;
}
@media screen and (max-width: 920px) {
  .why_choose_us .curve_line_left {
    max-width: 580px;
    left: -290px;
    top: 0;
  }
}
@media screen and (max-width: 520px) {
  .why_choose_us .curve_line_left {
    width: 350px;
    left: -190px;
    top: 20px;
  }
}
.why_choose_us .curve_line_right {
  width: 800px;
  right: -150px;
  top: 150px;
}
@media screen and (max-width: 1000px) {
  .why_choose_us .curve_line_right {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .why_choose_us {
    padding: 50px 0;
  }
}

.vacancy {
  padding: 160px 0;
}
@media screen and (max-width: 520px) {
  .vacancy {
    padding: 20px 0;
  }
}

.contact_us {
  padding-bottom: 160px;
}
.contact_us .transparent_box {
  padding: 110px 50px 110px 118px;
  position: unset;
}
.contact_us .transparent_box .form_container {
  position: relative;
  margin-top: 40px;
  max-width: 690px;
  z-index: 3;
}
.contact_us .transparent_box .form_container .form_actions {
  margin-top: 45px;
}
@media screen and (max-width: 650px) {
  .contact_us .transparent_box .form_container {
    margin-top: 0;
  }
}
.contact_us .transparent_box .curve_line {
  right: -34%;
  top: -200px;
  max-width: 1200px;
}
@media screen and (max-width: 1400px) {
  .contact_us .transparent_box .curve_line {
    top: 0;
    right: -40%;
    width: 900px;
  }
}
@media screen and (max-width: 1090px) {
  .contact_us .transparent_box .curve_line {
    width: 600px;
    top: 40%;
    right: -400px;
  }
}
@media screen and (max-width: 1600px) {
  .contact_us .transparent_box {
    padding: 80px 50px;
  }
}
@media screen and (max-width: 520px) {
  .contact_us .transparent_box {
    padding: 30px 24px;
    border-radius: 40px;
  }
}
.contact_us .circle.top-left {
  width: 280px;
  height: 280px;
  left: -140px;
  top: -140px;
  z-index: -1;
}
@media screen and (max-width: 520px) {
  .contact_us .circle {
    display: none;
  }
}
.contact_us .section-bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -160px;
  bottom: 0px;
  background: linear-gradient(233deg, rgba(62, 123, 250, 0.9) 25.31%, rgba(102, 0, 204, 0.8) 50.31%, rgba(255, 16, 117, 0.8) 77.4%, rgba(255, 29, 219, 0.8) 100%);
  border-radius: 40%;
  filter: blur(200px);
  transform: rotate(180deg);
  z-index: -1;
}
@media screen and (max-width: 520px) {
  .contact_us .section-bg {
    display: none;
  }
}

.footer {
  position: relative;
  padding: 80px 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1;
}
.footer .footer_info {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.footer .footer_info .footer_info_item {
  min-width: 172px;
  padding-top: 32px;
}
.footer .footer_info .footer_info_item .item_name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}
@media screen and (max-width: 520px) {
  .footer .footer_info .footer_info_item .item_name {
    font-size: 16px;
    line-height: 20px;
  }
}
.footer .footer_info .footer_info_item .item_info {
  color: #d2d3d7;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.footer .footer_info .footer_info_item .item_info > a {
  color: inherit;
}
@media screen and (max-width: 520px) {
  .footer .footer_info .footer_info_item {
    padding-top: 0;
  }
}
.footer .circle {
  width: 130px;
  height: 130px;
  top: -45px;
  left: 40px;
}
@media screen and (max-width: 1600px) {
  .footer .circle {
    top: -65px;
  }
}
@media screen and (max-width: 520px) {
  .footer .circle {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .footer {
    padding: 60px 0 30px;
  }
}

/** Sliders */
.partners-slider {
  width: 100%;
  height: 100%;
}
.partners-slider .swiper-wrapper {
  max-height: 260px;
}
@media screen and (max-width: 520px) {
  .partners-slider .swiper-wrapper {
    max-height: 184px;
  }
}
.partners-slider .swiper-wrapper .swiper-slide {
  position: relative;
  min-width: 216px;
  max-width: 216px;
  height: calc((100% - 20px) / 2) !important;
}
@media screen and (max-width: 520px) {
  .partners-slider .swiper-wrapper .swiper-slide {
    min-width: 160px;
    max-width: 160px;
    height: calc((100% - 8px) / 2) !important;
  }
}
.partners-slider .swiper-wrapper .swiper-slide .item_provider_game {
  display: flex;
  align-items: center;
  width: 216px;
  height: 120px;
  border-radius: 24px;
  border: 1px solid rgba(15, 15, 21, 0.4);
  background: rgba(15, 15, 21, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 25px 38px;
  transition: 0.3s ease-in-out;
}
.partners-slider .swiper-wrapper .swiper-slide .item_provider_game:hover {
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 1px 50px 0px rgba(227, 222, 255, 0.2) inset, 0px 5px 22px 0px rgba(154, 146, 210, 0.3) inset, 0px 123px 125px -60px rgba(202, 172, 255, 0.3) inset, 0px -102px 85px -80px rgba(96, 68, 144, 0.3) inset, 0px 9px 14px -5px #fff inset, 0px 48px 70px -45px rgba(255, 255, 255, 0.5) inset;
  border-color: transparent;
}
.partners-slider .swiper-wrapper .swiper-slide .item_provider_game .provider_image {
  max-width: 140px;
}
@media screen and (max-width: 520px) {
  .partners-slider .swiper-wrapper .swiper-slide .item_provider_game .provider_image {
    max-width: 100px;
  }
}
@media screen and (max-width: 920px) {
  .partners-slider .swiper-wrapper .swiper-slide .item_provider_game {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}
@media screen and (max-width: 520px) {
  .partners-slider .swiper-wrapper .swiper-slide .item_provider_game {
    width: 160px;
    height: 88px;
    padding: 19px 30px;
  }
}

.vacancy-slider {
  padding: 60px 0;
}
.vacancy-slider .swiper-slide {
  max-width: 456px;
}
.vacancy-slider .swiper-slide .vacancy_card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid rgba(15, 15, 21, 0.4);
  background: rgba(15, 15, 21, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  min-height: 319px;
  max-height: 319px;
}
@media screen and (max-width: 520px) {
  .vacancy-slider .swiper-slide .vacancy_card {
    max-height: 312px;
  }
}
.vacancy-slider .swiper-slide .vacancy_card .card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 520px) {
  .vacancy-slider .swiper-slide .vacancy_card .card_header {
    padding-bottom: 12px;
  }
}
.vacancy-slider .swiper-slide .vacancy_card .card_header .vacancy_name {
  display: flex;
  align-items: center;
  color: #fff;
  min-height: 72px;
}
@media screen and (max-width: 520px) {
  .vacancy-slider .swiper-slide .vacancy_card .card_header .vacancy_name {
    min-height: 56px;
  }
}
.vacancy-slider .swiper-slide .vacancy_card .card_header .vacancy_name > span {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}
@media screen and (max-width: 520px) {
  .vacancy-slider .swiper-slide .vacancy_card .card_header .vacancy_name > span {
    font-size: 20px;
    line-height: 28px;
  }
}
.vacancy-slider .swiper-slide .vacancy_card .card_header .vacancy_name:hover > span {
  text-decoration-color: #fff;
  -webkit-text-decoration-color: #fff;
  -moz-text-decoration-color: #fff;
}
.vacancy-slider .swiper-slide .vacancy_card .card_header .icon-hot {
  width: 58px;
}
@media screen and (max-width: 520px) {
  .vacancy-slider .swiper-slide .vacancy_card .card_header .icon-hot {
    width: 45px;
  }
}
.vacancy-slider .swiper-slide .vacancy_card .dscription {
  margin-top: 20px;
  color: #d2d2d4;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 520px) {
  .vacancy-slider .swiper-slide .vacancy_card .dscription {
    font-size: 16px;
    -webkit-line-clamp: 5;
  }
}
.vacancy-slider .swiper-slide .vacancy_card .card_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}
.vacancy-slider .swiper-slide .vacancy_card .card_footer .info {
  display: flex;
  gap: 12px;
}
.vacancy-slider .swiper-slide .vacancy_card .card_footer .info .info_item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747477;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.vacancy-slider .swiper-slide .vacancy_card .card_footer .info .info_item .icon {
  margin-right: 8px;
}
@media screen and (max-width: 400px) {
  .vacancy-slider .swiper-slide .vacancy_card .card_footer .info {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .vacancy-slider .swiper-slide .vacancy_card .card_footer {
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .vacancy-slider .swiper-slide .vacancy_card {
    background: rgba(15, 15, 21, 0.8);
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    padding: 16px;
  }
}
@media screen and (max-width: 1450px) {
  .vacancy-slider {
    padding: 60px 50px;
  }
}
@media screen and (max-width: 850px) {
  .vacancy-slider {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 379px) {
  .vacancy-slider {
    padding: 60px 16px;
  }
}

/* Vacancy page*/
.vacancy_info {
  padding-top: 60px;
  padding-bottom: 60px;
}
.vacancy_info ul {
  padding-left: 35px;
  margin: 20px 0;
}
.vacancy_info .vacancy_info_content {
  padding-top: 24px;
}
.vacancy_info .vacancy_info_content .vacancy_description {
  padding-top: 60px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
@media screen and (max-width: 520px) {
  .vacancy_info .vacancy_info_content .vacancy_description {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */